body,
html {
  font-family: "Circular";
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212;
  color: white;
}

.flex-row p:nth-child(1) {
  font-size: 12px;
}

.flex-row div p:nth-child(2) {
  font-size: 9px;
}

.flex-row > p:nth-child(2) {
  font-size: 11px;
}

.flex-row > p:nth-child(2)::after {
  content: " • ";
}

.flex-row p + p {
  font-size: 11px;
}

#profile-pic {
  min-width: 35px;
}

.sidebar {
  height: 100vh;

  padding: 1rem;
}

/*main content*/
#first-l {
  background-image: url("https://media.istockphoto.com/id/171159840/it/foto/cantante-sul-palco.webp?a=1&b=1&s=612x612&w=0&k=20&c=AEdnA-tyh12zRArZoQd90NPG4xkkp_CaGznj-hOH8n4=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#left-arrow:hover,
#right-arrow:hover {
  fill: rgb(180, 180, 180);
  cursor: pointer;
}

#scheda-art {
  margin-top: 7rem;
}

#verify,
#num-stream {
  font-size: 14px;
}

h1 {
  font-size: 4rem;
}

#head-container {
  height: 100%;
}

#action {
  width: 25%;
}

#follow-btn {
  font-size: 12px;
  height: fit-content;
  padding-block: 4px;
  padding-inline: 8px;
}

#img-cont {
  height: 30px;
  width: 30px;
}

#popolari {
  width: fit-content;
}

#pop-menu {
  width: 55%;
}

#pop-song {
  width: 100%;
  font-size: 14px;
}

#num-pic-name {
  width: 40%;
}

#like-photo {
  position: relative;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
}

#like-photo img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#heart {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0px;
  right: 6px;
}

#like-description {
  font-size: 14px;
}
/*player*/
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #212121;
  color: white;
  padding: 10px;
  border-top: 2px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.player-info {
  display: flex;
  align-items: center;
}

.player-info img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

.player-info .title {
  font-size: 14px;
  font-weight: bold;
}

.player-info .artist {
  font-size: 12px;
  color: #aaa;
}

.playerControlsContainer {
  display: table-column;
  align-items: center;
}

.player-controls {
  display: flex;
  align-items: center;
}

.player-controls button {
  position: relative;
  left: 5px;
  bottom: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  margin: 0 10px;
}

.player-info input[type="range"] {
  position: relative;
  bottom: 10px;
  width: 150px;
  background-color: #333;
  border: none;
  height: 4px;
  border-radius: 10px;
}

.svg {
  margin-right: 5px;
}

.time-bar {
  position: relative;
  bottom: 10px;
  width: 150px;
  background-color: #333;
  border: none;
  height: 4px;
  border-radius: 10px;
}

@media (max-width: 650px) {
  #scheda-art {
    margin-top: 5rem;
  }

  #Nome-art {
    font-size: 3rem;
    line-height: 95%;
  }

  #num-stream {
    font-size: 75%;
    font-weight: bold;
  }

  #action {
    width: 100%;
  }

  #point {
    display: none;
  }

  #pop-menu {
    order: 2;
  }

  #like-photo {
    height: 45px;
    width: 45px;
  }

  #popolari {
    font-size: 95%;
  }

  #pop-menu {
    width: 100%;
  }

  #timing {
    display: none;
  }

  #num-pic-name {
    width: 100%;
  }

  #order-num {
    font-size: 1rem;
  }

  #img-cont {
    height: 50px;
    width: 50px;
    margin-block: 10px;
  }
}

@media (max-width: 760px) {
  #pop-menu {
    width: 100%;
  }

  #move-bar {
    position: fixed;
    z-index: 1000;
    width: 100%;
    bottom: 55px;
  }

  #insiede-move-bar {
    position: absolute;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 3%, rgba(0, 0, 0, 0.30015756302521013) 100%);
  }
}
