body {
  font-family: "Circular";
    background-color: #121212;
        color: white;
}


.sidebar {
  height: 100vh;
  
  padding: 1rem;
}


.player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
    color: white;
    padding: 10px;
    border-top: 2px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  .player-info {
    display: flex;
    align-items: center;
  }

  .player-info img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .player-info .title {
    font-size: 14px;
    font-weight: bold;
  }

  .player-info .artist {
    font-size: 12px;
    color: #aaa;
  }

  .playerControlsContainer {
    display: table-column;
    align-items: center;
  }

  .player-controls {
    display: flex;
    align-items: center;
  }

  .player-controls button {
    position: relative;
    left: 5px;
    bottom: 5px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    margin: 0 10px;
  }

  .player-info input[type="range"] {
    position: relative;
    bottom: 10px;
    width: 150px;
    background-color: #333;
    border: none;
    height: 4px;
    border-radius: 10px;
  }
  
  .svg {
    margin-right: 5px;
  }

  .time-bar {
    position: relative;
    bottom: 10px;
    width: 150px;
    background-color: #333;
    border: none;
    height: 4px;
    border-radius: 10px;

  }

  

 
  

  
  .menusx {
    display: flex;
    
    flex-direction: row;
  }
  
  .menusx ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
  }
  
  .menusx ul li a span {
    position: relative;
    left: 10px;
    top: 3px;
  }
  
  .menu li {
    padding-left: 0 !important;
  }
  
  .menusx ul li a {
    color: rgb(173, 173, 173);
    text-decoration: none;
  }
  
  .menusx ul li {
    padding: 6px;
  }
  
  .line {
    width: 100%;
    border-color: gray;
  }
  
  
  
  .playlists ul {
    padding: 0;
  }
  
  .playlists ul li a {
    color: rgb(173, 173, 173);
    text-decoration: none;
    font-weight: 300;
    width: 100%;
  }
  
  .playlists ul li a img {
    width: 15px;
  }
  
  .playlists ul li {
    padding: 8px;
  }
  
  .group {
    margin-left: 85%;
  }
  
  .arrow {
    margin-left: 46.5%;
  }
  